<style type="text/css">
    
</style>

<div class="login-form forgotPass">
    <h2>Reset your password</h2>
    <form>
        <div class="text-center">
            <img src="/public/images/66726-customer-account-google-service-button-search-logo.png" class="img-circle avatar" alt="Avatar">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Reset password</button>
        </div>

    </form>

</div>