<div class="jumbotron container">
	<h1 class="display-4">Welcome to Online Exam System.</h1>
	<p class="lead">This is a simple Online Examination portal for Desktop browsers. Along with candidate's registration and login the app enables the admins to upload questions and define rules for the exam.</p>
	<hr class="my-4">
	<p>The app is developed in MEAN Stack.</p>
	<hr class="my-4">
	<a class="btn btn-primary btn-lg index-page-btn" ui-sref="main.register" role="button">Register</a>
	<a class="btn btn-primary btn-lg index-page-btn" ui-sref="page404" role="button">Login</a>
</div>