<nav>
    <div class="nav-wrapper" style="background-color:#0c88ff;">
        <a class="brand-logo" style="font-family: 'Monoton', cursive;">&nbsp;GMAT</a>
        <ul class="right hide-on-med-and-down">
            <li><a ui-sref="main.login" ui-sref-active="active" class="waves-effect waves-light btn" style="background-color: #9f02e1de;font-family: 'Sulphur Point', sans-serif;">Login</a></li>
            <li><a ui-sref="main.register" ui-sref-active="active" class="waves-effect waves-light btn" style="background-color: #9f02e1de;font-family: 'Sulphur Point', sans-serif;">Register <i class="material-icons right"></i></a></li>
            <li><a href="#help" class="btn btn-large teal modal-trigger" style="background-color: #9f02e1de;font-family: 'Sulphur Point', sans-serif;">Need Help</a></li>
        </ul>
    </div>
</nav>
<div class="modal" id="help">
    <h4>help</h4>
</div>
<div ui-view></div>
</div>