<div class="container signup-box rounded">
	<div class="banner">
		Register Here.
	</div>
	<form class="container signup-form">
			<div class="form-group">
				<label for="Name">Name</label>
				<input type="text" class="form-control" id="Name" aria-describedby="Name" placeholder="Enter Full Name">
			</div>
			<div class="form-group">
			  <label for="InputEmail">Email address</label>
			  <input type="email" class="form-control" id="Email" aria-describedby="Email" placeholder="Enter Email">
			</div>
			<div class="form-group">
				<label for="InputPassword1">Choose Password</label>
				<input type="password" class="form-control" id="Password" placeholder="Password">
			</div>
			<div class="form-group">
			  <label for="InputPassword1">Retype Password</label>
			  <input type="password" class="form-control" id="Password" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>